{% extends "topic/base.html" %}
{% block title %}博客{% endblock%}
{% block main %}
{#    <a href="{{ url_for('blog.new') }}">发表新博客</a>#}
{#    {% for b in blogs %}#}
{#    <p>#}
{#        <a href="{{ url_for('blog.detail', id=b.id) }} ">{{ b.title }} from {{ b.user_name }}</a>#}
{#    </p>#}
{#    {% endfor %}#}
    <div id="main">
        <div id="sidebar">
            {% if user.username != 'guest' %}
            <div class="panel">
                <div class="inner">
                    <a href="/blog/new" class="create_topic_btn">
                        <span class="span-success">{{ tranlates["add_blog"] }}</span>
                    </a>
                </div>  {#for inner#}
            </div>  {#for panel#}
            {% endif %}
            <div class='panel'>
                <div class='header'>
                    <span class='col_fade'>{{ tranlates["profile"] }}</span>
                </div>
                <div class='inner'>
                    <div class='user_card'>
                        <div>
                            <a class='user_avatar' href="/profile?username={{ user.username }}">
                                <img src="{{ user.image }}" title="{{ user.username }}"/>
                            </a>
                            <span class='user_name'><a class='dark' href="/profile?username={{ user.username }}">{{ user.username }}</a></span>

                            <div class='board clearfix'>
                                <div class='floor'>
                                    <span class='big'>{{ tranlates["score"] }}: 0 </span>
                                </div>
                            </div>
                            <div class="space clearfix"></div>
                            <span class="signature">
                                {{ tranlates["signature"] }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>  {#for sidebar#}
        <div id="content">
            <div class="panel">
                <div class="header">
                    <a href="/blog/index"
                       class="topic-tab current-tab">
                        {{ tranlates["all_blog"] }}
                    </a>
                </div>
                <div class="inner post">
                    <div class="topic_list">
                        {% for b in blogs.items %}
                            <div class="cell">
                                <div class="topic_title_wrapper">
                                    <a class="topic_title" href="{{ url_for('blog.detail', id=b.id) }}">
                                         {{ b.title }} from {{ b.user_name }}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                </div>{#for topic_list#}
                <div class="pagination" current_page="1">
                  <ul>
                      {% if blogs.has_prev %}
                          <li><a href="{{ url_for('blog.index', page=blogs.prev_num) }}">«</a></li>
                      {% else %}
                          <li class="disabled"><a>«</a></li>
                      {% endif %}
                      {%- for page in blogs.iter_pages() %}
                        {% if page %}
                          {% if page != blogs.page %}
                              <li><a href="{{ url_for('blog.index', page=page) }}">{{ page }}</a></li>
                          {% else %}
                            <li class="disabled active"><a>{{ page }}</a></li>
                          {% endif %}
                        {% endif %}
                      {%- endfor %}
                    {% if blogs.has_next %}
                        <li><a href="{{ url_for('blog.index', page=blogs.next_num) }}">»</a></li>
                    {% else %}
                        <li  class="disabled active"><a href="#">»</a></li>
                    {% endif %}
                  </ul>
                </div>
            </div>{#for inner#}

            </div> {#for panel#}
        </div> {#for content#}
    </div>  {#for main#}
{% endblock %}